.btn-dark{
    color: yellow;
}
.card-body{
    min-height: 210px;
}
.card-img-top{
    max-height: 200px;
}
.badge{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    background-color: rgb(0, 0, 0);
    color: yellow;
    border: 1px solid white;
    box-shadow: 1px 1px yellow;
}
.text-left{
    margin: 15px 0px;
    margin-top: 25px;
    margin-left:72px;
    color:black;
    text-shadow:1px 2px yellow
}
@media (max-width: 700px){
    .text-left{
        margin: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-left: 85px;
    }
}